@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
* {
	font-family: "Nunito", sans-serif;
}
.huef {
	background: #4d79d8;
	-webkit-animation: huef 9s infinite;
	animation: huef 9s infinite;
}

.type {
	font-family: monospace;
	color: #0000;
	background: linear-gradient(-90deg, #fff 5px, #0000 0) 10px 0,
		linear-gradient(#fff 0 0) 0 0;
	background-size: calc(var(--n) * 1ch) 200%;
	-webkit-background-clip: padding-box, text;
	background-clip: padding-box, text;
	background-repeat: no-repeat;
	animation: b 0.7s infinite steps(1),
		t calc(var(--n) * 0.1s) steps(var(--n)) forwards;
}

.centerall {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}
@keyframes t {
	from {
		background-size: 0 200%;
	}
}
@keyframes b {
	50% {
		background-position: 0 -100%, 0 0;
	}
}

@keyframes huef {
	0% {
		background-color: #4d79d8;
	}
	25% {
		background-color: #33cc33;
	}
	50% {
		background-color: #f2b919;
	}
	75% {
		background-color: #ea3224;
	}
	100% {
		background-color: #4d79d8;
	}
}
@-webkit-keyframes huef {
	0% {
		background-color: #4d79d8;
	}
	25% {
		background-color: #33cc33;
	}
	50% {
		background-color: #f2b919;
	}
	75% {
		background-color: #ea3224;
	}
	100% {
		background-color: #4d79d8;
	}
}

button {
	padding: 0.25em 1em;
	background: transparent;
	border-radius: 0.75em;
	color: white;
	margin: 1em;
	margin-bottom: 0;
	cursor: pointer;
}
input {
	padding: 0.5em 1em;
	background: transparent;
	border-radius: 0.75em;
	color: #fff;
	cursor: pointer;
}
button:hover,
input:hover {
	background: #353535;
	color: #fff;
	transform: scale(1.03);
}

.air {
	padding-top: 9%;
}
.yak button {
	font-size: 80%;
}
.stroke {
	border: 1px solid white;
}

.wag {
	-webkit-animation: print 3s infinite;
	animation: print 3s infinite;
}
@keyframes wag {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

@keyframes print {
	0% {
		overflow: hidden;
		height: 0vh;
	}
	99% {
		overflow: hidden;
		height: 100vh;
	}
	100% {
		overflow: visible;
		height: auto;
	}
}
input {
	outline: none;
}

.red {
	background: #ea3224;
}
.green {
	background: #33cc33;
}
.blue {
	background: #4d79d8;
}
.yellow {
	background: #d3a438;
}
.black {
	background: #212121;
}
.white {
	background: white;
}

.reds {
	border-color: #ea3224;
}
.greens {
	border-color: #33cc33;
}
.blues {
	border-color: #4d79d8;
}
.yellows {
	border-color: #d3a438;
}
.blacks {
	border-color: #212121;
}
.whites {
	border-color: white;
}

.shade {
	background: rgba(0%, 0%, 0%, 0.4);
}
.tint {
	background: rgba(100%, 100%, 100%, 0.1);
}

.redt {
	color: #ea3224;
}
.greent {
	color: #33cc33;
}
.bluet {
	color: #4d79d8;
}
.yellowt {
	color: #d3a438;
}
.blackt {
	color: #212121;
}
.whitet {
	color: white;
}
.surfacet {
	color: #707070;
}
.surfacet {
	border-color: #707070;
}
.hue {
	background: #4d79d8;
	-webkit-animation: hue 900s infinite;
	animation: hue 900s infinite;
}
@keyframes hue {
	0% {
		background-color: #4d79d8;
	}
	25% {
		background-color: #33cc33;
	}
	50% {
		background-color: #d3a438;
	}
	75% {
		background-color: #ea3224;
	}
	100% {
		background-color: #4d79d8;
	}
}
@-webkit-keyframes hue {
	0% {
		background-color: #4d79d8;
	}
	25% {
		background-color: #33cc33;
	}
	50% {
		background-color: #d3a438;
	}
	75% {
		background-color: #ea3224;
	}
	100% {
		background-color: #4d79d8;
	}
}

.huet {
	color: #4d79d8;
	-webkit-animation: huet 900s infinite;
	animation: huet 900s infinite;
}
@keyframes huet {
	0% {
		color: #4d79d8;
	}
	25% {
		color: #33cc33;
	}
	50% {
		color: #d3a438;
	}
	75% {
		color: #ea3224;
	}
	100% {
		color: #4d79d8;
	}
}
@-webkit-keyframes huet {
	0% {
		color: #4d79d8;
	}
	25% {
		color: #33cc33;
	}
	50% {
		color: #d3a438;
	}
	75% {
		color: #ea3224;
	}
	100% {
		color: #4d79d8;
	}
}

.hue2 {
	background: #ea3224;
	-webkit-animation: hue2 900s infinite;
	animation: hue2 900s infinite;
}
@keyframes hue2 {
	0% {
		background-color: #ea3224;
	}
	25% {
		background-color: #4d79d8;
	}
	50% {
		background-color: #33cc33;
	}
	75% {
		background-color: #d3a438;
	}
	100% {
		background-color: #ea3224;
	}
}
@-webkit-keyframes hue2 {
	0% {
		background-color: #ea3224;
	}
	25% {
		background-color: #4d79d8;
	}
	50% {
		background-color: #33cc33;
	}
	75% {
		background-color: #d3a438;
	}
	100% {
		background-color: #ea3224;
	}
}

.huet2 {
	color: #ea3224;
	-webkit-animation: huet2 900s infinite;
	animation: huet2 900s infinite;
}
@keyframes huet2 {
	0% {
		color: #ea3224;
	}
	25% {
		color: #4d79d8;
	}
	50% {
		color: #33cc33;
	}
	75% {
		color: #d3a438;
	}
	100% {
		color: #ea3224;
	}
}
@-webkit-keyframes huet2 {
	0% {
		color: #ea3224;
	}
	25% {
		color: #4d79d8;
	}
	50% {
		color: #33cc33;
	}
	75% {
		color: #d3a438;
	}
	100% {
		color: #ea3224;
	}
}

.hue3 {
	background: #33cc33;
	-webkit-animation: hue3 900s infinite;
	animation: hue3 900s infinite;
}
@keyframes hue3 {
	0% {
		background-color: #33cc33;
	}
	25% {
		background-color: #d3a438;
	}
	50% {
		background-color: #ea3224;
	}
	75% {
		background-color: #4d79d8;
	}
	100% {
		background-color: #33cc33;
	}
}
@-webkit-keyframes hue3 {
	0% {
		background-color: #33cc33;
	}
	25% {
		background-color: #d3a438;
	}
	50% {
		background-color: #ea3224;
	}
	75% {
		background-color: #4d79d8;
	}
	100% {
		background-color: #33cc33;
	}
}

.huet3 {
	color: #33cc33;
	-webkit-animation: huet3 900s infinite;
	animation: huet3 900s infinite;
}
@keyframes huet3 {
	0% {
		color: #33cc33;
	}
	25% {
		color: #d3a438;
	}
	50% {
		color: #ea3224;
	}
	75% {
		color: #4d79d8;
	}
	100% {
		color: #33cc33;
	}
}
@-webkit-keyframes huet3 {
	0% {
		color: #33cc33;
	}
	25% {
		color: #d3a438;
	}
	50% {
		color: #ea3224;
	}
	75% {
		color: #4d79d8;
	}
	100% {
		color: #33cc33;
	}
}

.hue4 {
	background: #d3a438;
	-webkit-animation: hue4 900s infinite;
	animation: hue4 900s infinite;
}
@keyframes hue4 {
	0% {
		background-color: #d3a438;
	}
	25% {
		background-color: #ea3224;
	}
	50% {
		background-color: #4d79d8;
	}
	75% {
		background-color: #33cc33;
	}
	100% {
		background-color: #d3a438;
	}
}
@-webkit-keyframes hue4 {
	0% {
		background-color: #d3a438;
	}
	25% {
		background-color: #ea3224;
	}
	50% {
		background-color: #4d79d8;
	}
	75% {
		background-color: #33cc33;
	}
	100% {
		background-color: #d3a438;
	}
}

.huet4 {
	color: #d3a438;
	-webkit-animation: huet4 900s infinite;
	animation: huet4 900s infinite;
}
@keyframes huet4 {
	0% {
		color: #d3a438;
	}
	25% {
		color: #ea3224;
	}
	50% {
		color: #4d79d8;
	}
	75% {
		color: #33cc33;
	}
	100% {
		color: #d3a438;
	}
}
@-webkit-keyframes huet4 {
	0% {
		color: #d3a438;
	}
	25% {
		color: #ea3224;
	}
	50% {
		color: #4d79d8;
	}
	75% {
		color: #33cc33;
	}
	100% {
		color: #d3a438;
	}
}

.pulse {
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.joy {
	width: 100px;
	height: 100px;
	position: absolute;
	background: url(https://cdn.jsdelivr.net/npm/gun/examples/pop.png) no-repeat;
	background-position: -2800px 0;
	pointer-events: none;
	z-index: 999999999;
	animation: joy 1s steps(28);
}
@keyframes joy {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -2800px 0;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* .meta-on,
div:hover,
ul:hover,
ol:hover,
li:hover,
p:hover,
span:hover,
form:hover,
button:hover,
input:hover,
textarea:hover,
img:hover {
	outline: 1px solid;
	animation: meta-on 3s infinite;
	transition: ease-in-out;
} */
/* meta on should be visible animation at all contrast colors */
/* @keyframes meta-on {
	0% {
		outline-color: gainsboro;
	}
	33% {
		outline-color: white;
	}
	66% {
		outline-color: gray;
	}
	100% {
		outline-color: gainsboro;
	}
} */
